*{
    padding:0;
    margin:0;
}
/* ol,ul{
    list-style-type: none;
} */
a{
    text-emphasis: none;
}
body{
    
    background-color: #151515;
}
.row {
	margin-right: 0px;
}
/* Banner part start */
#banner{
    background-color:black;
    padding-top: 50px;
}
.banner-one{
    margin-left: 0px;
}
.banner-one img{
    margin-bottom:-25px;
}
.banner-text{
    margin-top: 100px;
}
.banner-text-img{
    text-align: right;
}
.banner-text h1{
    font-family: 'Berkshire Swash';
    color:#FF5E19;
    font-style: normal;
    font-weight: 400;
    font-size: 82px;
    line-height: 94px;
    text-align: center;
    text-transform: capitalize;
}
.banner-text p{
    font-family: 'Manrope';
    color:#ffff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing:1px;
}
.banner-img-two img {
	margin-left: -20px;
}
.banner-img-three img {
	margin-top:39px;
}
.banner-img-four img{
    margin-top:-50px;
}
.banner-three{
    position:relative;
}
.banner-img-three img {
	position: absolute;
	right: -24px;
}

/* Player part start */
#player{
    margin-top: 70px;
    margin-bottom:100px;
}
.card-body{
    text-align: center;
    background-color: black;
}
.card-body h5 {
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	margin-left: 8px;
	word-spacing: 0px;
	color: #ffff;
}
.card-body p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #B3B3B3;
}
.card-body button{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.card {
	border:inherit;
}
.player-one{
    margin-bottom:24px;
}
.card{
    margin-left:10px;
}
.btn-primary {
	padding: 10px 70px;
}

/* player-select part start */
.player-select-main{
    background-color: black;
    margin-left: 10px;
    border-radius: 5px;
}
.player-select{
    padding-bottom:36px;
    text-align:center;
}
.player-select h6 {
	font-family: 'Manrope';
	font-weight: 600;
	font-size: 24px;
	padding-top: 22px;
	text-align: center;
	letter-spacing: -0.03em;
	color: #FFFFFF;
}
.player-select {
    text-align: left;
    padding-top:10px;
    padding-left:25px;
    padding-bottom: 10px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    word-spacing: 15px;
    color: #FFFFFF;
}
.player-select img {
	margin-left: 38px;
	padding-bottom: 20px;
}
.player-select-main {
	height: 348px;
}
.player-select-main-two {
    height: inherit;
	margin-top: 24px;
	padding-bottom: 10px;
}

/* player amount */
.player-amount h1{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AFAFAF;
    margin-left: 10px;
}
.per-player-price h1 {
	font-family: 'Manrope';
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	padding: 10px 18px 10px;
	border: 1px solid #FFFFFF;
	margin-top: -10px;
	margin-left: -28px;
}
.per-player-price h1 input{
        width: 110px;
        margin-left: -10px;
        padding: 0px 1px 0px 5px;
}
.calculate-part h1 {
	font-family: 'Manrope';
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	background-color: #015196;
	margin-left: 10px;
	padding: 10px;
	margin-right: -12px;
	margin-top: 15px;
    margin-bottom: 15px;
}
.per-player-price-two h1{
    border:inherit;
    color:#FF5E19;
}
.per-player-price-three h1 {
	margin-left: -19px;
	padding: 10px 16px;
	margin-right: -8px;
}
.per-player-price-four h1{
    border:inherit;
    color:#FF5E19;
}
/* footter part start */
footer h1{
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
hr{
    
    background-color: #fff;
}